<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mybatis.example.ProjectMapper">
    <select id="selectProjects" resultMap="project" >
        select
        project.id,
        project.process_id,
        project.name,
        project.number,
        project.type,
        project.attachment,
        project.owner_id,
        project.owner_name,
        project.product_id,
        project.created_at,
        project.updated_at,
        project.total_product,
        project.total_percentage,
        project.pm_id
        FROM project
        <if test="userId != null">
            WHERE project.owner_id = #{userId}
        </if>
        order by project.updated_at desc
        limit ${offset}, #{limit}
    </select>
    <select id="countProject" resultType="int">
        select count(*) from project
        <if test="userId != null">
            WHERE owner_id = ${userId}
        </if>
    </select>
    <select id="getProjectById" resultMap="project">
        SELECT
        project.id,
        project.process_id,
        project.name,
        project.number,
        project.type,
        project.attachment,
        project.owner_id,
        project.owner_name,
        project.product_id,
        project.created_at,
        project.updated_at,
        project.total_product,
        project.total_percentage,
        project.pm_id
        FROM project
        where project.id = ${projectId}
    </select>

    <select id="getProjectByProcessId" parameterType="String" resultMap="project">
            SELECT
            project.id,
            project.process_id,
            project.name,
            project.number,
            project.type,
            project.attachment,
            project.owner_id,
            project.owner_name,
            project.product_id,
            project.created_at,
            project.updated_at,
            project.total_product,
            project.total_percentage,
            project.pm_id
            FROM project
            where project.process_id = #{processId}
        </select>

    <select id="getProjectsByProcessIds"  resultMap="project">
            SELECT
            project.id,
            project.process_id,
            project.name,
            project.number,
            project.type,
            project.attachment,
            project.owner_id,
            project.owner_name,
            project.product_id,
            project.created_at,
            project.updated_at,
            project.total_product,
            project.total_percentage,
            project.pm_id
            FROM project
            where project.process_id in
            <foreach collection="processIds" item="processId" index="index" open="(" separator="," close=")">
               #{processId}
            </foreach>
             <if test="query != ''">
                and  project.name  REGEXP #{query}
             </if>
        <if test="(startDate == '') or (endDate == '')">
            and year(project.updated_at) = #{year}
        </if>

             <if test="type != null">
              and   project.type = #{type}
             </if>
             <if test="number != ''">
              and  project.number  REGEXP #{number}
             </if>
        <if test="(startDate != '') and (endDate != '')">
            and project.created_at between  #{startDate} and #{endDate}
        </if>
            order by project.updated_at desc
    </select>

    <insert id="insertProject" parameterType="hello.entity.Project" useGeneratedKeys="true"
            keyProperty="id" keyColumn="id">
        INSERT INTO project (process_id, name, number, type, attachment, owner_id, owner_name, product_id, pm_id, created_at, updated_at )
        VALUES (#{processId}, #{name}, #{number}, #{type}, #{attachment}, #{ownerId}, #{ownerName},#{productId}, #{pmId}, now(), now())
    </insert>

    <update id="updateProject" parameterType="hello.entity.Project">
        UPDATE project
        SET name=#{name}, number=#{number}, type=#{type}, attachment=#{attachment}, updated_at=now()
        where project.id = #{id}
    </update>

    <update id="updateTotalProductOfProject" parameterType="hello.entity.Project">
            UPDATE project
            SET total_product=#{totalProduct}, total_percentage=#{totalPercentage}, updated_at=now()
            where project.process_id = #{processId}
     </update>

     <update id="updatePmId" parameterType="hello.entity.Project">
                 UPDATE project
                 SET pm_id=#{pmId}, owner_name=#{ownerName},updated_at=now()
                 where project.process_id = #{processId}
          </update>

    <delete id="deleteProject" parameterType="int">
        DELETE
        FROM project
        WHERE project.id = #{id}
    </delete>

    <delete id="deleteProjectByProcessId" parameterType="String">
        DELETE
        FROM project
        WHERE project.process_id = #{processId}
    </delete>

    <delete id="deleteACTINST" parameterType="String">
            DELETE
            FROM `ACT_HI_ACTINST`
            WHERE PROC_INST_ID_ = #{processId}
    </delete>

<select id="getUnfinishedProjectsByOwnerId" resultMap="R2Projects">
        select project.id, project.process_id, project.name, project.number, project.owner_name,
               project.type, project.owner_id, project.attachment, project.created_at, project.updated_at,
               project.total_product, project.total_percentage,
               p.id as product_id, p.user_id, p.display_name, p.product, p.percentage
        from project
        left join product p on project.process_id = p.process_id
        where project.owner_id = #{ownerId} and ISNULL(project.total_product)=1
        <if test="query != ''">
           and  project.name  REGEXP #{query}
        </if>
        and year(project.updated_at) = #{year}
        <if test="type != null">
        and   project.type = #{type}
        </if>
        <if test="number != ''">
        and    project.number  REGEXP #{number}
        </if>
        order by project.updated_at DESC
    </select>

    <select id="getFinishedProjectsByOwnerId" resultMap="R2Projects">
        select project.id, project.process_id, project.name, project.number, project.owner_name,
               project.type, project.owner_id, project.attachment, project.created_at, project.updated_at,
               project.total_product, project.total_percentage,
               p.id as product_id, p.user_id, p.display_name, p.product, p.percentage
        from project
        left join product p on project.process_id = p.process_id
        where ISNULL(project.total_product)=0 and (project.owner_id = #{ownerId} or project.pm_id=#{ownerId} or p.user_id=#{ownerId})
        <if test="query != ''">
           and  project.name  REGEXP #{query}
        </if>
        and year(project.updated_at) = #{year}
        <if test="type != null">
        and   project.type = #{type}
        </if>
        <if test="number != ''">
        and    project.number  REGEXP #{number}
        </if>
        order by project.updated_at DESC
    </select>


    <select id="getFinishedProjectsByUserIdR2" resultMap="R2Projects">
            select project.id, project.process_id, project.name, project.number, project.owner_name,
                   project.type, project.owner_id, project.attachment, project.created_at, project.updated_at,
                   project.total_product, project.total_percentage,
                   p.id as product_id, p.user_id, p.display_name, p.product, p.percentage
            from project
            left join product p on project.process_id = p.process_id
            where  ISNULL(project.total_product)=0 and p.user_id = #{ownerId}
            <if test="query != ''">
               and  project.name  REGEXP #{query}
            </if>
            and year(project.updated_at) = #{year}
            <if test="type != null">
            and   project.type = #{type}
            </if>
            <if test="number != ''">
            and    project.number  REGEXP #{number}
            </if>
            order by project.updated_at DESC
        </select>


<select id="getUnfinishedProjectsByOwnerIdsR3"  resultMap="R2Projects">
            select project.id, project.process_id, project.name, project.number, project.owner_name,
                   project.type, project.owner_id, project.attachment, project.updated_at,
                   project.total_product, project.total_percentage, project.pm_id,
                   p.id as product_id, p.user_id, p.display_name, p.product, p.percentage
            from project
            left join product p on project.process_id = p.process_id
            where ISNULL(project.total_product)=1 and project.owner_id in
            <foreach collection="ownerIds" item="ownerId" index="index" open="(" separator="," close=")">
                 #{ownerId}
            </foreach>
             <if test="query != ''">
                and  project.name  REGEXP #{query}
             </if>
             <if test="(startDate == '') or (endDate == '')">
                and year(project.updated_at) = #{year}
            </if>

            <if test="type != null">
            and    project.type = #{type}
            </if>
            <if test="number != ''">
            and    project.number  REGEXP #{number}
            </if>
            <if test="(startDate != '') and (endDate != '')">
                and project.created_at between  #{startDate} and #{endDate}
            </if>
            order by project.updated_at DESC
    </select>

    <select id="getProjectsByOwnerIdsR3"  resultMap="R2Projects">
            select project.id, project.process_id, project.name, project.number, project.owner_name,
                   project.type, project.owner_id, project.attachment, project.updated_at,
                   project.total_product, project.total_percentage,
                   p.id as product_id, p.user_id, p.display_name, p.product, p.percentage
            from project
            left join product p on project.process_id = p.process_id
            where ISNULL(project.total_product)=0 and (p.user_id=#{userId} or project.owner_id in
            <foreach collection="ownerIds" item="ownerId" index="index" open="(" separator="," close=")">
                 #{ownerId}
            </foreach>)
             <if test="query != ''">
                and  project.name  REGEXP #{query}
             </if>
            and year(project.updated_at) = #{year}
            <if test="type != null">
            and    project.type = #{type}
            </if>
            <if test="number != ''">
            and    project.number  REGEXP #{number}
            </if>
            <if test="(startDate != '') and (endDate != '')">
              and project.updated_at between  #{startDate} and #{endDate}
            </if>
            <if test="(startDate == '') or (endDate == '')">
               and year(project.updated_at) = #{year}
            </if>
            order by project.updated_at DESC
    </select>

    <select id="getFinishedProjectsByOwnerIdsZengtao"  resultMap="R2Projects">
                select project.id, project.process_id, project.name, project.number, project.owner_name,
                       project.type, project.owner_id, project.attachment, project.updated_at,
                       project.total_product, project.total_percentage,
                       p.id as product_id, p.user_id, p.display_name, p.product, p.percentage
                from project
                left join product p on project.process_id = p.process_id
                where ISNULL(project.total_product)=0
                and (p.user_id=#{userId} or project.owner_id in (16,17))
                 <if test="query != ''">
                    and  project.name  REGEXP #{query}
                 </if>
                and year(project.updated_at) = #{year}
                <if test="type != null">
                and    project.type = #{type}
                </if>
                <if test="number != ''">
                and    project.number  REGEXP #{number}
                </if>
        <if test="(startDate != '') and (endDate != '')">
            and project.updated_at between  #{startDate} and #{endDate}
        </if>
        <if test="(startDate == '') or (endDate == '')">
            and year(project.updated_at) = #{year}
        </if>
                order by project.updated_at DESC
        </select>




    <select id="getUnfinishedProjectsByOwnerIdsByR4" parameterType="java.util.List" resultMap="R2Projects">
                select project.id, project.process_id, project.name, project.number, project.owner_name,
                       project.type, project.owner_id, project.attachment, project.updated_at,
                       project.total_product, project.total_percentage,
                       p.id as product_id, p.user_id, p.display_name, p.product, p.percentage
                from project
                inner join product p on project.process_id = p.process_id
                where
                year(project.updated_at) = #{year} and ISNULL(project.total_product)=1 and
                <if test="query != ''">
                    project.name  REGEXP #{query} and
                </if>
                <if test="type != null">
                    project.type = #{type} and
                </if>
                <if test="number != ''">
                    project.number  REGEXP #{number} and
                </if>
                project.owner_id in
                <foreach collection="R2Ids" item="ownerId" index="index" open="(" separator="," close=")">
                     #{ownerId}
                </foreach>
                and project.type in
                <foreach collection="typeIds" item="typeId" index="index" open="(" separator="," close=")">
                     #{typeId}
                </foreach>
                <if test="(startDate != '') and (endDate != '')">
                  and project.created_at between  #{startDate} and #{endDate}
                </if>
                <if test="(startDate == '') or (endDate == '')">
                  and year(project.updated_at) = #{year}
                </if>

                order by project.updated_at desc
    </select>


 <select id="getFinishedProjectsByOwnerIdsByR4" parameterType="java.util.List" resultMap="R2Projects">
                select project.id, project.process_id, project.name, project.number, project.owner_name,
                       project.type, project.owner_id, project.attachment, project.updated_at,
                       project.total_product, project.total_percentage,
                       p.id as product_id, p.user_id, p.display_name, p.product, p.percentage
                from project
                inner join product p on project.process_id = p.process_id
                where
                ISNULL(project.total_product)=0 and
                <if test="query != ''">
                    project.name  REGEXP #{query} and
                </if>
                <if test="type != null">
                    project.type = #{type} and
                </if>
                <if test="number != ''">
                    project.number  REGEXP #{number} and
                </if>
                <if test="(startDate != '') and (endDate != '')">
                    project.updated_at between  #{startDate} and #{endDate} and
                </if>
                <if test="(startDate == '') or (endDate == '')">
                    year(project.updated_at) = #{year} and
                </if>
                project.owner_id in
                <foreach collection="R2Ids" item="ownerId" index="index" open="(" separator="," close=")">
                     #{ownerId}
                </foreach>
                order by project.updated_at desc
    </select>


    <select id="getFinishedProjectsByA1" parameterType="java.util.List" resultMap="R2Projects">
        select project.id, project.process_id, project.name, project.number, project.owner_name,
        project.type, project.owner_id, project.attachment, project.updated_at,
        project.total_product, project.total_percentage,
        p.id as product_id, p.user_id, p.display_name, p.product, p.percentage
        from project
        inner join product p on project.process_id = p.process_id
        where ISNULL(project.total_product)=0
        <if test="query != ''">
          and   project.name  REGEXP #{query}
        </if>
        <if test="type != null">
           and  project.type = #{type}
        </if>
        <if test="number != ''">
           and project.number  REGEXP #{number}
        </if>
        <if test="(startDate != '') and (endDate != '')">
            and project.updated_at between  #{startDate} and #{endDate}
        </if>
        <if test="(startDate == '') or (endDate == '')">
            and year(project.updated_at) = #{year}
        </if>

        order by project.updated_at desc
    </select>


    <select id="getA1UnfinishedProjectsByProcessIds" parameterType="java.util.List" resultMap="R2Projects">
            select project.id, project.process_id, project.name, project.number, project.owner_name,
                   project.type, project.owner_id, project.attachment, project.created_at, project.updated_at, project.pm_id,
                   project.total_product, project.total_percentage,
                   p.id as product_id, p.user_id, p.display_name, p.product, p.percentage
            from project
            inner join product p on project.process_id = p.process_id
            where
        ISNULL(project.total_product)=1 and
        <if test="(startDate == '') or (endDate == '')">
            year(project.updated_at) = #{year} and
            </if>
             <if test="query != ''">
                 project.name  REGEXP #{query} and
             </if>
             <if test="type != null">
                  project.type = #{type} and
             </if>
             <if test="number != ''">
                 project.number  REGEXP #{number} and
              </if>
              <if test="(startDate != '') and (endDate != '')">
                  project.created_at between  #{startDate} and #{endDate} and
              </if>
             project.process_id in
            <foreach collection="processIds" item="processId" index="index" open="(" separator="," close=")">
                  #{processId}
            </foreach>

            order by project.updated_at DESC
   </select>


<select id="getAllProjects" resultMap="R2Projects">
        select project.id, project.process_id, project.name, project.number, project.owner_name,
               project.type, project.owner_id, project.attachment, project.created_at, project.updated_at,
               project.total_product, project.total_percentage,
               p.id as product_id, p.user_id, p.display_name, p.product, p.percentage
        from project
        left join product p on project.process_id = p.process_id
        where  year(project.updated_at) = #{year}
        <if test="query != ''">
           and  project.name  REGEXP #{query}
        </if>
        <if test="month != null">
            year(project.updated_at) = #{month}
        </if>

        <if test="type != null">
        and   project.type = #{type}
        </if>
        <if test="number != ''">
        and    project.number  REGEXP #{number}
        </if>
        order by project.updated_at DESC
    </select>




    <resultMap id="R2Projects" type="hello.entity.Project">
        <id property="id" column="id"/>
        <result property="processId" column="process_id"/>
        <result property="name" column="name"/>
        <result property="number" column="number"/>
        <result property="type" column="type"/>
        <result property="ownerId" column="owner_id"/>
        <result property="ownerName" column="owner_name"/>
        <result property="attachment" column="attachment"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="totalProduct" column="total_product"/>
        <result property="totalPercentage" column="total_percentage"/>
        <result property="pmId" column="pm_id"/>
        <collection property="products" ofType="hello.entity.Product">
             <id property="id" column="product_id"/>
             <result property="userId" column="user_id"/>
             <result property="displayName" column="display_name"/>
             <result property="product" column="product"/>
             <result property="percentage" column="percentage"/>
        </collection>
    </resultMap>


    <resultMap id="project" type="hello.entity.Project">
        <id property="id" column="id"/>
        <result property="processId" column="process_id"/>
        <result property="name" column="name"/>
        <result property="number" column="number"/>
        <result property="type" column="type"/>
        <result property="attachment" column="attachment"/>
        <result property="ownerId" column="owner_id"/>
        <result property="ownerName" column="owner_name"/>
        <result property="productId" column="product_id"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="pmId" column="pm_id"/>
        <result property="totalProduct" column="total_product"/>
        <result property="totalPercentage" column="total_percentage"/>
    </resultMap>
</mapper>